# Virtual environment folders
venv/
env/
.venv/
.env/

# Editor-specific files
*.pyc
*.pyo
__pycache__/

# IDE-specific folders
.idea/
.vscode/

# Compiled files
*.pyc
*.pyo

# Logs
*.log

# Diagrams
LatestDiagrams/combined_chart.png
LatestDiagrams/day_of_week_chart.png
LatestDiagrams/time_trends_chart.png
